{
    "openapi": "3.0.1",
    "info": {
        "title": "Spotify getAlbumTracks API",
        "version": "v1",
        "x-apisguru-categories": [
            "media"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_logo-core.clearbit.com_spotify.com"
        },
        "x-origin": [{
            "format": "raml",
            "url": "https://raw.githubusercontent.com/spotify/web-api/master/specifications/raml/api.raml",
            "version": "0.8"
        }],
        "x-preferred": true,
        "x-providerName": "spotify.com"
    },
    "externalDocs": {
        "url": "https://developer.spotify.com/"
    },
    "servers": [{
        "url": "https://api.spotify.com/v1"
    }],
    "paths": {
        "/albums/{id}/tracks": {
            "get": {
                "description": "[Get an Album's Tracks](https://developer.spotify.com/web-api/get-albums-tracks/)\n",
                "operationId": "getAlbumTracks",
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "description": "The Spotify ID for the album",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of items to return",
                        "schema": {
                            "maximum": 50,
                            "minimum": 0,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The index of the first item to return",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "market",
                        "in": "query",
                        "description": "The market (an ISO 3166-1 alpha-2 country code)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/track-simple-page"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "album": {
                "type": "object",
                "properties": {
                    "album_type": {
                        "type": "string",
                        "description": "The type of the album: one of 'album', 'single', or 'compilation'."
                    },
                    "artists": {
                        "type": "array",
                        "description": "The artists of the album. Each artist object includes a link in href to more detailed information about the artist.",
                        "items": {
                            "$ref": "#/components/schemas/artist"
                        }
                    },
                    "available_markets": {
                        "type": "array",
                        "description": "The markets in which the album is available: ISO 3166-1 alpha-2 country codes. Note that an album is considered available in a market when at least 1 of its tracks is available in that market.",
                        "items": {
                            "type": "string"
                        }
                    },
                    "copyrights": {
                        "type": "array",
                        "description": "The copyright statements of the album.",
                        "items": {
                            "type": "object",
                            "properties": {
                                "text": {
                                    "type": "string",
                                    "description": "The copyright text for this album."
                                },
                                "type": {
                                    "type": "string",
                                    "description": "The type of copyright: C = the copyright, P = the sound recording (performance) copyright."
                                }
                            }
                        }
                    },
                    "external_ids": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "description": "The identifier type, for example: 'isrc' - International Standard Recording Code, 'ean' - International Article Number, 'upc' - Universal Product Code"
                        },
                        "description": "Known external IDs for this album."
                    },
                    "external_urls": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "description": "The type of the URL, for example: 'spotify' - The Spotify URL for the object."
                        },
                        "description": "Known external URLs for this album."
                    },
                    "genres": {
                        "type": "array",
                        "description": "A list of the genres used to classify the album. For example: 'Prog Rock', 'Post-Grunge'. (If not yet classified, the array is empty.)",
                        "items": {
                            "type": "string"
                        }
                    },
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint providing full details of the album."
                    },
                    "id": {
                        "type": "string",
                        "description": "The Spotify ID for the album."
                    },
                    "images": {
                        "type": "array",
                        "description": "The cover art for the album in various sizes, widest first.",
                        "items": {
                            "$ref": "#/components/schemas/image"
                        }
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the album."
                    },
                    "popularity": {
                        "type": "integer",
                        "description": "The popularity of the album. The value will be between 0 and 100, with 100 being the most popular. The popularity is calculated from the popularity of the album's individual tracks."
                    },
                    "release_date": {
                        "type": "string",
                        "description": "The date the album was first released, for example '1981-12-15'. Depending on the precision, it might be shown as '1981' or '1981-12'."
                    },
                    "release_date_precision": {
                        "type": "string",
                        "description": "The precision with which release_date value is known: 'year', 'month', or 'day'."
                    },
                    "tracks": {
                        "$ref": "#/components/schemas/track-simple-page"
                    },
                    "type": {
                        "type": "string",
                        "description": "The object type: 'album'."
                    },
                    "uri": {
                        "type": "string",
                        "description": "The Spotify URI for the album."
                    }
                }
            },
            "album-simple": {
                "type": "object",
                "properties": {
                    "album_type": {
                        "type": "string",
                        "description": "The type of the album: one of 'album', 'single', or 'compilation'."
                    },
                    "available_markets": {
                        "type": "array",
                        "description": "The markets in which the album is available: ISO 3166-1 alpha-2 country codes. Note that an album is considered available in a market when at least 1 of its tracks is available in that market.",
                        "items": {
                            "type": "string"
                        }
                    },
                    "external_urls": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Known external URLs for this album."
                    },
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint providing full details of the album."
                    },
                    "id": {
                        "type": "string",
                        "description": "The Spotify ID for the album."
                    },
                    "images": {
                        "type": "array",
                        "description": "The cover art for the album in various sizes, widest first.",
                        "items": {
                            "$ref": "#/components/schemas/image"
                        }
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the album."
                    },
                    "type": {
                        "type": "string",
                        "description": "The object type: 'album'."
                    },
                    "uri": {
                        "type": "string",
                        "description": "The Spotify URI for the album."
                    }
                }
            },
            "album-simple-page": {
                "type": "object",
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint returning the full result of the request."
                    },
                    "items": {
                        "type": "array",
                        "description": "The requested data.",
                        "items": {
                            "$ref": "#/components/schemas/album-simple"
                        }
                    },
                    "limit": {
                        "type": "integer",
                        "description": "The maximum number of items in the response (as set in the query or by default)."
                    },
                    "next": {
                        "type": "string",
                        "description": "URL to the next page of items. (null if none)"
                    },
                    "offset": {
                        "type": "integer",
                        "description": "The offset of the items returned (as set in the query or by default)."
                    },
                    "previous": {
                        "type": "string",
                        "description": "URL to the previous page of items. (null if none)"
                    },
                    "total": {
                        "type": "integer",
                        "description": "The total number of items available to return."
                    }
                }
            },
            "album-track-page": {
                "type": "object",
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint returning the full result of the request."
                    },
                    "items": {
                        "type": "array",
                        "description": "The requested data.",
                        "items": {
                            "$ref": "#/components/schemas/track-simple"
                        }
                    },
                    "limit": {
                        "type": "integer",
                        "description": "The maximum number of items in the response (as set in the query or by default)."
                    },
                    "next": {
                        "type": "string",
                        "description": "URL to the next page of items. (null if none)"
                    },
                    "offset": {
                        "type": "integer",
                        "description": "The offset of the items returned (as set in the query or by default)."
                    },
                    "previous": {
                        "type": "string",
                        "description": "URL to the previous page of items. (null if none)"
                    },
                    "total": {
                        "type": "integer",
                        "description": "The total number of items available to return."
                    }
                }
            },
            "artist": {
                "type": "object",
                "properties": {
                    "external_urls": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Known external URLs for this artist."
                    },
                    "followers": {
                        "$ref": "#/components/schemas/followers"
                    },
                    "genres": {
                        "type": "array",
                        "description": "A list of the genres the artist is associated with. For example: 'Prog Rock', 'Post-Grunge'. (If not yet classified, the array is empty.)",
                        "items": {
                            "type": "string"
                        }
                    },
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint providing full details of the artist."
                    },
                    "id": {
                        "type": "string",
                        "description": "The Spotify ID for the artist."
                    },
                    "images": {
                        "type": "array",
                        "description": "Images of the artist in various sizes, widest first.",
                        "items": {
                            "$ref": "#/components/schemas/image"
                        }
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the artist."
                    },
                    "popularity": {
                        "type": "integer",
                        "description": "The popularity of the artist. The value will be between 0 and 100, with 100 being the most popular. The artist's popularity is calculated from the popularity of all the artist's tracks."
                    },
                    "type": {
                        "type": "string",
                        "description": "The object type: 'artist'"
                    },
                    "uri": {
                        "type": "string",
                        "description": "The Spotify URI for the artist."
                    }
                }
            },
            "artist-simple": {
                "type": "object",
                "properties": {
                    "external_urls": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Known external URLs for this artist."
                    },
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint providing full details of the artist."
                    },
                    "id": {
                        "type": "string",
                        "description": "The Spotify ID for the artist."
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the artist."
                    },
                    "type": {
                        "type": "string",
                        "description": "The object type: 'artist'"
                    },
                    "uri": {
                        "type": "string",
                        "description": "The Spotify URI for the artist."
                    }
                }
            },
            "category": {
                "type": "object",
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint returning full details of the category."
                    },
                    "icons": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/image"
                        }
                    },
                    "id": {
                        "type": "string",
                        "description": "The Spotify category ID of the category."
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the category."
                    }
                }
            },
            "category-page": {
                "type": "object",
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint returning the full result of the request."
                    },
                    "items": {
                        "type": "array",
                        "description": "The requested data.",
                        "items": {
                            "$ref": "#/components/schemas/category"
                        }
                    },
                    "limit": {
                        "type": "integer",
                        "description": "The maximum number of items in the response (as set in the query or by default)."
                    },
                    "next": {
                        "type": "string",
                        "description": "URL to the next page of items. (null if none)"
                    },
                    "offset": {
                        "type": "integer",
                        "description": "The offset of the items returned (as set in the query or by default)."
                    },
                    "previous": {
                        "type": "string",
                        "description": "URL to the previous page of items. (null if none)"
                    },
                    "total": {
                        "type": "integer",
                        "description": "The total number of items available to return."
                    }
                }
            },
            "current-user-profile": {
                "type": "object",
                "properties": {
                    "birthdate": {
                        "type": "string",
                        "description": "The user's date-of-birth. This field is only available when the current user has granted access to the user-read-birthdate scope."
                    },
                    "country": {
                        "type": "string",
                        "description": "The country of the user, as set in the user's account profile. An ISO 3166-1 alpha-2 country code. This field is only available when the current user has granted access to the user-read-private scope."
                    },
                    "displayName": {
                        "type": "string",
                        "description": "The name displayed on the user's profile."
                    },
                    "email": {
                        "type": "string",
                        "description": "The user's email address, as entered by the user when creating their account. This email address is unverified; there is no proof that it actually belongs to the user. This field is only available when the current user has granted access to the user-read-email scope."
                    },
                    "external_urls": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Known external URLs for this user."
                    },
                    "followers": {
                        "$ref": "#/components/schemas/followers"
                    },
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint for this user."
                    },
                    "id": {
                        "type": "string",
                        "description": "The Spotify ID for this user."
                    },
                    "product": {
                        "type": "string",
                        "description": "The user's Spotify subscription level: 'premium', 'free', etc. (The subscription level 'open' can be considered the same as 'free'.) This field is only available when the current user has granted access to the user-read-private scope."
                    },
                    "type": {
                        "type": "string",
                        "description": "The object type: 'user'"
                    },
                    "uri": {
                        "type": "string",
                        "description": "The Spotify URI for the user."
                    }
                }
            },
            "featured-playlists": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "description": "A sentence describing the context for the featured playlists."
                    },
                    "playlists": {
                        "$ref": "#/components/schemas/playlist-simple-page"
                    }
                }
            },
            "followers": {
                "type": "object",
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint providing full details of the followers; null if not available."
                    },
                    "total": {
                        "type": "integer",
                        "description": "The total number of followers."
                    }
                },
                "description": "Information about the followers of the artist."
            },
            "image": {
                "type": "object",
                "properties": {
                    "height": {
                        "type": "integer",
                        "description": "The image height in pixels. If unknown: null or not returned."
                    },
                    "url": {
                        "type": "string",
                        "description": "The source URL of the image."
                    },
                    "width": {
                        "type": "integer",
                        "description": "The image width in pixels. If unknown: null or not returned."
                    }
                }
            },
            "playlist": {
                "type": "object",
                "properties": {
                    "collaborative": {
                        "type": "boolean",
                        "description": "True if the owner allows other users to modify the playlist."
                    },
                    "description": {
                        "type": "string",
                        "description": "The playlist description. Only returned for modified, verified playlists, otherwise null."
                    },
                    "external_urls": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Known external URLs for this album."
                    },
                    "followers": {
                        "type": "object",
                        "properties": {
                            "href": {
                                "type": "string",
                                "description": "A link to the Web API endpoint providing full details of the followers; null if not available."
                            },
                            "total": {
                                "type": "integer",
                                "description": "The total number of followers."
                            }
                        },
                        "description": "Information about the followers of the playlist."
                    },
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint providing full details of the playlist."
                    },
                    "id": {
                        "type": "string",
                        "description": "The Spotify ID of the playlist."
                    },
                    "images": {
                        "type": "array",
                        "description": "The cover art for the album in various sizes, widest first.",
                        "items": {
                            "$ref": "#/components/schemas/image"
                        }
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the playlist."
                    },
                    "owner": {
                        "$ref": "#/components/schemas/user-profile"
                    },
                    "public": {
                        "type": "boolean",
                        "description": "The playlist's public/private status: true the playlist is public, false the playlist is private, null the playlist status is not relevant. For more about public/private status, see Working with Playlists."
                    },
                    "snapshot_id": {
                        "type": "string",
                        "description": "The version identifier for the current playlist. Can be supplied in other requests to target a specific playlist version"
                    },
                    "tracks": {
                        "$ref": "#/components/schemas/playlist-track-page"
                    },
                    "type": {
                        "type": "string",
                        "description": "The object type: 'playlist'."
                    },
                    "uri": {
                        "type": "string",
                        "description": "Spotify URI of the playlist."
                    }
                }
            },
            "playlist-simple": {
                "type": "object",
                "properties": {
                    "collaborative": {
                        "type": "boolean",
                        "description": "True if the owner allows other users to modify the playlist."
                    },
                    "external_urls": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Known external URLs for this album."
                    },
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint providing full details of the playlist."
                    },
                    "id": {
                        "type": "string",
                        "description": "The Spotify ID of the playlist."
                    },
                    "images": {
                        "type": "array",
                        "description": "The cover art for the album in various sizes, widest first.",
                        "items": {
                            "$ref": "#/components/schemas/image"
                        }
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the playlist."
                    },
                    "owner": {
                        "$ref": "#/components/schemas/user-profile"
                    },
                    "public": {
                        "type": "boolean",
                        "description": "The playlist's public/private status: true the playlist is public, false the playlist is private, null the playlist status is not relevant. For more about public/private status, see Working with Playlists."
                    },
                    "snapshot_id": {
                        "type": "string",
                        "description": "The version identifier for the current playlist. Can be supplied in other requests to target a specific playlist version"
                    },
                    "tracks": {
                        "type": "object",
                        "properties": {
                            "href": {
                                "type": "string",
                                "description": "A link to the Web API endpoint returning the full result of the request."
                            },
                            "total": {
                                "type": "integer",
                                "description": "The total number of tracks available to return."
                            }
                        }
                    },
                    "type": {
                        "type": "string",
                        "description": "The object type: 'playlist'."
                    },
                    "uri": {
                        "type": "string",
                        "description": "Spotify URI of the playlist."
                    }
                }
            },
            "playlist-simple-page": {
                "type": "object",
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint returning the full result of the request."
                    },
                    "items": {
                        "type": "array",
                        "description": "The requested data.",
                        "items": {
                            "$ref": "#/components/schemas/playlist-simple"
                        }
                    },
                    "limit": {
                        "type": "integer",
                        "description": "The maximum number of items in the response (as set in the query or by default)."
                    },
                    "next": {
                        "type": "string",
                        "description": "URL to the next page of items. (null if none)"
                    },
                    "offset": {
                        "type": "integer",
                        "description": "The offset of the items returned (as set in the query or by default)."
                    },
                    "previous": {
                        "type": "string",
                        "description": "URL to the previous page of items. (null if none)"
                    },
                    "total": {
                        "type": "integer",
                        "description": "The total number of items available to return."
                    }
                }
            },
            "playlist-snapshot": {
                "type": "object",
                "properties": {
                    "snapshot_id": {
                        "type": "string",
                        "description": "The version identifier for the modified playlist. Can be supplied in other requests to target a specific playlist version."
                    }
                }
            },
            "playlist-track": {
                "type": "object",
                "properties": {
                    "added_at": {
                        "type": "string",
                        "description": "The date and time the track was added in ISO 8601 format. Note that some very old playlists may return null in this field."
                    },
                    "added_by": {
                        "$ref": "#/components/schemas/user-profile"
                    },
                    "is_local": {
                        "type": "boolean",
                        "description": "Whether this track is a [local file](https://developer.spotify.com/web-api/local-files-spotify-playlists/) or not."
                    },
                    "track": {
                        "$ref": "#/components/schemas/track"
                    }
                }
            },
            "playlist-track-page": {
                "type": "object",
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint returning the full result of the request."
                    },
                    "items": {
                        "type": "array",
                        "description": "The requested data.",
                        "items": {
                            "$ref": "#/components/schemas/playlist-track"
                        }
                    },
                    "limit": {
                        "type": "integer",
                        "description": "The maximum number of items in the response (as set in the query or by default)."
                    },
                    "next": {
                        "type": "string",
                        "description": "URL to the next page of items. (null if none)"
                    },
                    "offset": {
                        "type": "integer",
                        "description": "The offset of the items returned (as set in the query or by default)."
                    },
                    "previous": {
                        "type": "string",
                        "description": "URL to the previous page of items. (null if none)"
                    },
                    "total": {
                        "type": "integer",
                        "description": "The total number of items available to return."
                    }
                }
            },
            "saved-track": {
                "type": "object",
                "properties": {
                    "added_at": {
                        "type": "string",
                        "description": "The date and time the track was added in ISO 8601 format. Note that some very old playlists may return null in this field."
                    },
                    "track": {
                        "$ref": "#/components/schemas/track"
                    }
                }
            },
            "saved-track-page": {
                "type": "object",
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint returning the full result of the request."
                    },
                    "items": {
                        "type": "array",
                        "description": "The requested data.",
                        "items": {
                            "$ref": "#/components/schemas/saved-track"
                        }
                    },
                    "limit": {
                        "type": "integer",
                        "description": "The maximum number of items in the response (as set in the query or by default)."
                    },
                    "next": {
                        "type": "string",
                        "description": "URL to the next page of items. (null if none)"
                    },
                    "offset": {
                        "type": "integer",
                        "description": "The offset of the items returned (as set in the query or by default)."
                    },
                    "previous": {
                        "type": "string",
                        "description": "URL to the previous page of items. (null if none)"
                    },
                    "total": {
                        "type": "integer",
                        "description": "The total number of items available to return."
                    }
                }
            },
            "search": {
                "type": "object",
                "properties": {
                    "albums": {
                        "type": "object",
                        "properties": {
                            "href": {
                                "type": "string",
                                "description": "A link to the Web API endpoint returning the full result of the request."
                            },
                            "items": {
                                "type": "array",
                                "description": "The requested data.",
                                "items": {
                                    "$ref": "#/components/schemas/album-simple"
                                }
                            },
                            "limit": {
                                "type": "integer",
                                "description": "The maximum number of items in the response (as set in the query or by default)."
                            },
                            "next": {
                                "type": "string",
                                "description": "URL to the next page of items. (null if none)"
                            },
                            "offset": {
                                "type": "integer",
                                "description": "The offset of the items returned (as set in the query or by default)."
                            },
                            "previous": {
                                "type": "string",
                                "description": "URL to the previous page of items. (null if none)"
                            },
                            "total": {
                                "type": "integer",
                                "description": "The total number of items available to return."
                            }
                        },
                        "description": "Present if the type of search includes 'album'."
                    },
                    "artists": {
                        "type": "object",
                        "properties": {
                            "href": {
                                "type": "string",
                                "description": "A link to the Web API endpoint returning the full result of the request."
                            },
                            "items": {
                                "type": "array",
                                "description": "The requested data.",
                                "items": {
                                    "$ref": "#/components/schemas/artist"
                                }
                            },
                            "limit": {
                                "type": "integer",
                                "description": "The maximum number of items in the response (as set in the query or by default)."
                            },
                            "next": {
                                "type": "string",
                                "description": "URL to the next page of items. (null if none)"
                            },
                            "offset": {
                                "type": "integer",
                                "description": "The offset of the items returned (as set in the query or by default)."
                            },
                            "previous": {
                                "type": "string",
                                "description": "URL to the previous page of items. (null if none)"
                            },
                            "total": {
                                "type": "integer",
                                "description": "The total number of items available to return."
                            }
                        },
                        "description": "Present if the type of search includes 'artist'."
                    },
                    "tracks": {
                        "type": "object",
                        "properties": {
                            "href": {
                                "type": "string",
                                "description": "A link to the Web API endpoint returning the full result of the request."
                            },
                            "items": {
                                "type": "array",
                                "description": "The requested data.",
                                "items": {
                                    "$ref": "#/components/schemas/track"
                                }
                            },
                            "limit": {
                                "type": "integer",
                                "description": "The maximum number of items in the response (as set in the query or by default)."
                            },
                            "next": {
                                "type": "string",
                                "description": "URL to the next page of items. (null if none)"
                            },
                            "offset": {
                                "type": "integer",
                                "description": "The offset of the items returned (as set in the query or by default)."
                            },
                            "previous": {
                                "type": "string",
                                "description": "URL to the previous page of items. (null if none)"
                            },
                            "total": {
                                "type": "integer",
                                "description": "The total number of items available to return."
                            }
                        },
                        "description": "Present if the type of search includes 'track'."
                    }
                }
            },
            "track": {
                "type": "object",
                "properties": {
                    "album": {
                        "$ref": "#/components/schemas/album-simple"
                    },
                    "artists": {
                        "type": "array",
                        "description": "The artists who performed the track. Each artist object includes a link in href to more detailed information about the artist.",
                        "items": {
                            "$ref": "#/components/schemas/artist-simple"
                        }
                    },
                    "available_markets": {
                        "type": "array",
                        "description": "A list of the countries in which the track can be played, identified by their ISO 3166-1 alpha-2 code. ",
                        "items": {
                            "type": "string"
                        }
                    },
                    "disc_number": {
                        "type": "integer",
                        "description": "The disc number (usually 1 unless the album consists of more than one disc)."
                    },
                    "duration_ms": {
                        "type": "integer",
                        "description": "The track length in milliseconds."
                    },
                    "explicit": {
                        "type": "boolean",
                        "description": "Whether or not the track has explicit lyrics (true = yes it does; false = no it does not OR unknown)."
                    },
                    "external_ids": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "description": "The identifier type, for example: 'isrc' - International Standard Recording Code, 'ean' - International Article Number, 'upc' - Universal Product Code"
                        },
                        "description": "Known external IDs for the track."
                    },
                    "external_urls": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Known external URLs for this track."
                    },
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint providing full details of the track."
                    },
                    "id": {
                        "type": "string",
                        "description": "The Spotify ID for the track."
                    },
                    "is_playable": {
                        "type": "boolean",
                        "description": "Part of the response when Track Relinking is applied. If true, the track is playable in the given market. Otherwise false."
                    },
                    "linked_from": {
                        "type": "object",
                        "properties": {
                            "external_urls": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Known external URLs for this track."
                            },
                            "href": {
                                "type": "string",
                                "description": "A link to the Web API endpoint providing full details of the track."
                            },
                            "id": {
                                "type": "string",
                                "description": "The Spotify ID for the track."
                            },
                            "type": {
                                "type": "string",
                                "description": "The object type: 'track'."
                            },
                            "uri": {
                                "type": "string",
                                "description": "The Spotify URI for the track."
                            }
                        },
                        "description": "Part of the response when Track Relinking is applied, and the requested track has been replaced with different track. The track in the linked_from object contains information about the originally requested track."
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the track."
                    },
                    "preview_url": {
                        "type": "string",
                        "description": "A URL to a 30 second preview (MP3 format) of the track."
                    },
                    "track_number": {
                        "type": "integer",
                        "description": "The number of the track. If an album has several discs, the track number is the number on the specified disc."
                    },
                    "type": {
                        "type": "string",
                        "description": "The object type: 'track'."
                    },
                    "uri": {
                        "type": "string",
                        "description": "The Spotify URI for the track."
                    }
                }
            },
            "track-simple": {
                "type": "object",
                "properties": {
                    "artists": {
                        "type": "array",
                        "description": "The artists who performed the track. Each artist object includes a link in href to more detailed information about the artist.",
                        "items": {
                            "$ref": "#/components/schemas/artist-simple"
                        }
                    },
                    "available_markets": {
                        "type": "array",
                        "description": "A list of the countries in which the track can be played, identified by their ISO 3166-1 alpha-2 code. ",
                        "items": {
                            "type": "string"
                        }
                    },
                    "disc_number": {
                        "type": "integer",
                        "description": "The disc number (usually 1 unless the album consists of more than one disc)."
                    },
                    "duration_ms": {
                        "type": "integer",
                        "description": "The track length in milliseconds."
                    },
                    "explicit": {
                        "type": "boolean",
                        "description": "Whether or not the track has explicit lyrics (true = yes it does; false = no it does not OR unknown)."
                    },
                    "external_urls": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Known external URLs for this track."
                    },
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint providing full details of the track."
                    },
                    "id": {
                        "type": "string",
                        "description": "The Spotify ID for the track."
                    },
                    "is_local": {
                        "type": "boolean",
                        "description": "Is local"
                    },
                    "is_playable": {
                        "type": "boolean",
                        "description": "Part of the response when Track Relinking is applied. If true, the track is playable in the given market. Otherwise false."
                    },
                    "linked_from": {
                        "type": "object",
                        "properties": {
                            "external_urls": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Known external URLs for this track."
                            },
                            "href": {
                                "type": "string",
                                "description": "A link to the Web API endpoint providing full details of the track."
                            },
                            "id": {
                                "type": "string",
                                "description": "The Spotify ID for the track."
                            },
                            "type": {
                                "type": "string",
                                "description": "The object type: 'track'."
                            },
                            "uri": {
                                "type": "string",
                                "description": "The Spotify URI for the track."
                            }
                        },
                        "description": "Part of the response when Track Relinking is applied, and the requested track has been replaced with different track. The track in the linked_from object contains information about the originally requested track."
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the track."
                    },
                    "preview_url": {
                        "type": "string",
                        "description": "A URL to a 30 second preview (MP3 format) of the track.",
                        "nullable": true
                    },
                    "restrictions": {
                        "type": "object",
                        "properties": {
                            "reason": {
                                "type": "string"
                            }
                        }
                    },
                    "track_number": {
                        "type": "integer",
                        "description": "The number of the track. If an album has several discs, the track number is the number on the specified disc."
                    },
                    "type": {
                        "type": "string",
                        "description": "The object type: 'track'."
                    },
                    "uri": {
                        "type": "string",
                        "description": "The Spotify URI for the track."
                    }
                }
            },
            "track-simple-page": {
                "type": "object",
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint returning the full result of the request."
                    },
                    "items": {
                        "type": "array",
                        "description": "The requested data.",
                        "items": {
                            "$ref": "#/components/schemas/track-simple"
                        }
                    },
                    "limit": {
                        "type": "integer",
                        "description": "The maximum number of items in the response (as set in the query or by default)."
                    },
                    "next": {
                        "type": "string",
                        "description": "URL to the next page of items. (null if none)",
                        "nullable": true
                    },
                    "offset": {
                        "type": "integer",
                        "description": "The offset of the items returned (as set in the query or by default)."
                    },
                    "previous": {
                        "type": "string",
                        "description": "URL to the previous page of items. (null if none)",
                        "nullable": true
                    },
                    "total": {
                        "type": "integer",
                        "description": "The total number of items available to return."
                    }
                }
            },
            "user-followed": {
                "type": "object",
                "properties": {
                    "artists": {
                        "type": "object",
                        "properties": {
                            "cursor": {
                                "type": "object",
                                "properties": {
                                    "after": {
                                        "type": "string",
                                        "description": "The cursor to use as key to find the next page of items."
                                    }
                                },
                                "description": "The cursors used to find the next set of items."
                            },
                            "href": {
                                "type": "string",
                                "description": "A link to the Web API endpoint returning the full result of the request."
                            },
                            "items": {
                                "type": "array",
                                "description": "The requested data.",
                                "items": {
                                    "$ref": "#/components/schemas/artist"
                                }
                            },
                            "limit": {
                                "type": "integer",
                                "description": "The maximum number of items in the response (as set in the query or by default)."
                            },
                            "next": {
                                "type": "string",
                                "description": "URL to the next page of items. (null if none)"
                            },
                            "total": {
                                "type": "integer",
                                "description": "The total number of items available to return."
                            }
                        },
                        "description": "Present if the type of followe items is 'artist'."
                    }
                }
            },
            "user-profile": {
                "type": "object",
                "properties": {
                    "displayName": {
                        "type": "string",
                        "description": "The name displayed on the user's profile."
                    },
                    "external_urls": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Known external URLs for this user."
                    },
                    "followers": {
                        "$ref": "#/components/schemas/followers"
                    },
                    "href": {
                        "type": "string",
                        "description": "A link to the Web API endpoint for this user."
                    },
                    "id": {
                        "type": "string",
                        "description": "The Spotify ID for this user."
                    },
                    "type": {
                        "type": "string",
                        "description": "The object type: 'user'"
                    },
                    "uri": {
                        "type": "string",
                        "description": "The Spotify URI for the user."
                    }
                }
            }
        },
        "securitySchemes": {
            "oauth_2_0_accessCode": {
                "type": "oauth2",
                "description": "Spotify supports OAuth 2.0 for authenticating all API requests.\n",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://accounts.spotify.com/authorize",
                        "tokenUrl": "https://accounts.spotify.com/api/token",
                        "scopes": {
                            "playlist-modify-private": "",
                            "playlist-modify-public": "",
                            "playlist-read-collaborative": "",
                            "playlist-read-private": "",
                            "user-follow-modify": "",
                            "user-follow-read": "",
                            "user-library-modify": "",
                            "user-library-read": "",
                            "user-read-birthdate": "",
                            "user-read-email": "",
                            "user-read-private": ""
                        }
                    }
                }
            },
            "oauth_2_0_implicit": {
                "type": "oauth2",
                "description": "Spotify supports OAuth 2.0 for authenticating all API requests.\n",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://accounts.spotify.com/authorize",
                        "scopes": {
                            "playlist-modify-private": "",
                            "playlist-modify-public": "",
                            "playlist-read-collaborative": "",
                            "playlist-read-private": "",
                            "user-follow-modify": "",
                            "user-follow-read": "",
                            "user-library-modify": "",
                            "user-library-read": "",
                            "user-read-birthdate": "",
                            "user-read-email": "",
                            "user-read-private": ""
                        }
                    }
                }
            }
        }
    },
    "x-original-swagger-version": null
}