{
    "openapi": "3.0.1",
    "info": {
        "title": "Marvel getComicById API",
        "version": "Cable"
    },
    "servers": [{
        "url": "https://gateway.marvel.com/"
    }],
    "tags": [{
        "name": "public"
    }],
    "paths": {
        "/v1/public/comics/{comicId}": {
            "get": {
                "tags": [
                    "public"
                ],
                "summary": "Fetches a single comic by id.",
                "description": "This method fetches a single comic resource.  It is the canonical URI for any comic resource provided by the API.",
                "operationId": "getComicIndividual",
                "parameters": [{
                    "name": "comicId",
                    "in": "path",
                    "description": "A single comic.",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int32"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ComicDataWrapper"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ComicList": {
                "type": "object",
                "properties": {
                    "available": {
                        "type": "integer",
                        "description": "The number of total available issues in this list. Will always be greater than or equal to the \"returned\" value.",
                        "format": "int32"
                    },
                    "returned": {
                        "type": "integer",
                        "description": "The number of issues returned in this collection (up to 20).",
                        "format": "int32"
                    },
                    "collectionURI": {
                        "type": "string",
                        "description": "The path to the full list of issues in this collection."
                    },
                    "items": {
                        "type": "array",
                        "description": "The list of returned issues in this collection.",
                        "items": {
                            "$ref": "#/components/schemas/ComicSummary"
                        }
                    }
                }
            },
            "EventList": {
                "type": "object",
                "properties": {
                    "available": {
                        "type": "integer",
                        "description": "The number of total available events in this list. Will always be greater than or equal to the \"returned\" value.",
                        "format": "int32"
                    },
                    "returned": {
                        "type": "integer",
                        "description": "The number of events returned in this collection (up to 20).",
                        "format": "int32"
                    },
                    "collectionURI": {
                        "type": "string",
                        "description": "The path to the full list of events in this collection."
                    },
                    "items": {
                        "type": "array",
                        "description": "The list of returned events in this collection.",
                        "items": {
                            "$ref": "#/components/schemas/EventSummary"
                        }
                    }
                }
            },
            "CreatorList": {
                "type": "object",
                "properties": {
                    "available": {
                        "type": "integer",
                        "description": "The number of total available creators in this list. Will always be greater than or equal to the \"returned\" value.",
                        "format": "int32"
                    },
                    "returned": {
                        "type": "integer",
                        "description": "The number of creators returned in this collection (up to 20).",
                        "format": "int32"
                    },
                    "collectionURI": {
                        "type": "string",
                        "description": "The path to the full list of creators in this collection."
                    },
                    "items": {
                        "type": "array",
                        "description": "The list of returned creators in this collection.",
                        "items": {
                            "$ref": "#/components/schemas/CreatorSummary"
                        }
                    }
                }
            },
            "CharacterList": {
                "type": "object",
                "properties": {
                    "available": {
                        "type": "integer",
                        "description": "The number of total available characters in this list. Will always be greater than or equal to the \"returned\" value.",
                        "format": "int32"
                    },
                    "returned": {
                        "type": "integer",
                        "description": "The number of characters returned in this collection (up to 20).",
                        "format": "int32"
                    },
                    "collectionURI": {
                        "type": "string",
                        "description": "The path to the full list of characters in this collection."
                    },
                    "items": {
                        "type": "array",
                        "description": "The list of returned characters in this collection.",
                        "items": {
                            "$ref": "#/components/schemas/CharacterSummary"
                        }
                    }
                }
            },
            "SeriesList": {
                "type": "object",
                "properties": {
                    "available": {
                        "type": "integer",
                        "description": "The number of total available series in this list. Will always be greater than or equal to the \"returned\" value.",
                        "format": "int32"
                    },
                    "returned": {
                        "type": "integer",
                        "description": "The number of series returned in this collection (up to 20).",
                        "format": "int32"
                    },
                    "collectionURI": {
                        "type": "string",
                        "description": "The path to the full list of series in this collection."
                    },
                    "items": {
                        "type": "array",
                        "description": "The list of returned series in this collection.",
                        "items": {
                            "$ref": "#/components/schemas/SeriesSummary"
                        }
                    }
                }
            },
            "StoryList": {
                "type": "object",
                "properties": {
                    "available": {
                        "type": "integer",
                        "description": "The number of total available stories in this list. Will always be greater than or equal to the \"returned\" value.",
                        "format": "int32"
                    },
                    "returned": {
                        "type": "integer",
                        "description": "The number of stories returned in this collection (up to 20).",
                        "format": "int32"
                    },
                    "collectionURI": {
                        "type": "string",
                        "description": "The path to the full list of stories in this collection."
                    },
                    "items": {
                        "type": "array",
                        "description": "The list of returned stories in this collection.",
                        "items": {
                            "$ref": "#/components/schemas/StorySummary"
                        }
                    }
                }
            },
            "CharacterSummary": {
                "type": "object",
                "properties": {
                    "resourceURI": {
                        "type": "string",
                        "description": "The path to the individual character resource."
                    },
                    "name": {
                        "type": "string",
                        "description": "The full name of the character."
                    },
                    "role": {
                        "type": "string",
                        "description": "The role of the creator in the parent entity."
                    }
                }
            },
            "EventSummary": {
                "type": "object",
                "properties": {
                    "resourceURI": {
                        "type": "string",
                        "description": "The path to the individual event resource."
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the event."
                    }
                }
            },
            "SeriesSummary": {
                "type": "object",
                "properties": {
                    "resourceURI": {
                        "type": "string",
                        "description": "The path to the individual series resource."
                    },
                    "name": {
                        "type": "string",
                        "description": "The canonical name of the series."
                    }
                }
            },
            "ComicSummary": {
                "type": "object",
                "properties": {
                    "resourceURI": {
                        "type": "string",
                        "description": "The path to the individual comic resource."
                    },
                    "name": {
                        "type": "string",
                        "description": "The canonical name of the comic."
                    }
                }
            },
            "Url": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "A text identifier for the URL."
                    },
                    "url": {
                        "type": "string",
                        "description": "A full URL (including scheme, domain, and path)."
                    }
                }
            },
            "CreatorSummary": {
                "type": "object",
                "properties": {
                    "resourceURI": {
                        "type": "string",
                        "description": "The path to the individual creator resource."
                    },
                    "name": {
                        "type": "string",
                        "description": "The full name of the creator."
                    },
                    "role": {
                        "type": "string",
                        "description": "The role of the creator in the parent entity."
                    }
                }
            },
            "StorySummary": {
                "type": "object",
                "properties": {
                    "resourceURI": {
                        "type": "string",
                        "description": "The path to the individual story resource."
                    },
                    "name": {
                        "type": "string",
                        "description": "The canonical name of the story."
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of the story (interior or cover)."
                    }
                }
            },
            "Image": {
                "type": "object",
                "properties": {
                    "path": {
                        "type": "string",
                        "description": "The directory path of to the image."
                    },
                    "extension": {
                        "type": "string",
                        "description": "The file extension for the image."
                    }
                }
            },
            "ComicDate": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "A description of the date (e.g. onsale date, FOC date)."
                    },
                    "date": {
                        "type": "string",
                        "description": "The date."
                    }
                }
            },
            "CharacterDataContainer": {
                "type": "object",
                "properties": {
                    "offset": {
                        "type": "integer",
                        "description": "The requested offset (number of skipped results) of the call.",
                        "format": "int32"
                    },
                    "limit": {
                        "type": "integer",
                        "description": "The requested result limit.",
                        "format": "int32"
                    },
                    "total": {
                        "type": "integer",
                        "description": "The total number of resources available given the current filter set.",
                        "format": "int32"
                    },
                    "count": {
                        "type": "integer",
                        "description": "The total number of results returned by this call.",
                        "format": "int32"
                    },
                    "results": {
                        "type": "array",
                        "description": "The list of characters returned by the call.",
                        "items": {
                            "$ref": "#/components/schemas/Character"
                        }
                    }
                }
            },
            "EventDataContainer": {
                "type": "object",
                "properties": {
                    "offset": {
                        "type": "integer",
                        "description": "The requested offset (number of skipped results) of the call.",
                        "format": "int32"
                    },
                    "limit": {
                        "type": "integer",
                        "description": "The requested result limit.",
                        "format": "int32"
                    },
                    "total": {
                        "type": "integer",
                        "description": "The total number of resources available given the current filter set.",
                        "format": "int32"
                    },
                    "count": {
                        "type": "integer",
                        "description": "The total number of results returned by this call.",
                        "format": "int32"
                    },
                    "results": {
                        "type": "array",
                        "description": "The list of events returned by the call",
                        "items": {
                            "$ref": "#/components/schemas/Event"
                        }
                    }
                }
            },
            "ComicPrice": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "A description of the price (e.g. print price, digital price)."
                    },
                    "price": {
                        "type": "number",
                        "description": "The price (all prices in USD).",
                        "format": "float"
                    }
                }
            },
            "EventDataWrapper": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "The HTTP status code of the returned result.",
                        "format": "int32"
                    },
                    "status": {
                        "type": "string",
                        "description": "A string description of the call status."
                    },
                    "copyright": {
                        "type": "string",
                        "description": "The copyright notice for the returned result."
                    },
                    "attributionText": {
                        "type": "string",
                        "description": "The attribution notice for this result.  Please display either this notice or the contents of the attributionHTML field on all screens which contain data from the Marvel Comics API."
                    },
                    "attributionHTML": {
                        "type": "string",
                        "description": "An HTML representation of the attribution notice for this result.  Please display either this notice or the contents of the attributionText field on all screens which contain data from the Marvel Comics API."
                    },
                    "data": {
                        "$ref": "#/components/schemas/EventDataContainer"
                    },
                    "etag": {
                        "type": "string",
                        "description": "A digest value of the content returned by the call."
                    }
                }
            },
            "Creator": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The unique ID of the creator resource.",
                        "format": "int32"
                    },
                    "firstName": {
                        "type": "string",
                        "description": "The first name of the creator."
                    },
                    "middleName": {
                        "type": "string",
                        "description": "The middle name of the creator."
                    },
                    "lastName": {
                        "type": "string",
                        "description": "The last name of the creator."
                    },
                    "suffix": {
                        "type": "string",
                        "description": "The suffix or honorific for the creator."
                    },
                    "fullName": {
                        "type": "string",
                        "description": "The full name of the creator (a space-separated concatenation of the above four fields)."
                    },
                    "modified": {
                        "type": "string",
                        "description": "The date the resource was most recently modified.",
                        "format": "date"
                    },
                    "resourceURI": {
                        "type": "string",
                        "description": "The canonical URL identifier for this resource."
                    },
                    "urls": {
                        "type": "array",
                        "description": "A set of public web site URLs for the resource.",
                        "items": {
                            "$ref": "#/components/schemas/Url"
                        }
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/Image"
                    },
                    "series": {
                        "$ref": "#/components/schemas/SeriesList"
                    },
                    "stories": {
                        "$ref": "#/components/schemas/StoryList"
                    },
                    "comics": {
                        "$ref": "#/components/schemas/ComicList"
                    },
                    "events": {
                        "$ref": "#/components/schemas/EventList"
                    }
                }
            },
            "Event": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The unique ID of the event resource.",
                        "format": "int32"
                    },
                    "title": {
                        "type": "string",
                        "description": "The title of the event."
                    },
                    "description": {
                        "type": "string",
                        "description": "A description of the event."
                    },
                    "resourceURI": {
                        "type": "string",
                        "description": "The canonical URL identifier for this resource."
                    },
                    "urls": {
                        "type": "array",
                        "description": "A set of public web site URLs for the event.",
                        "items": {
                            "$ref": "#/components/schemas/Url"
                        }
                    },
                    "modified": {
                        "type": "string",
                        "description": "The date the resource was most recently modified.",
                        "format": "date"
                    },
                    "start": {
                        "type": "string",
                        "description": "The date of publication of the first issue in this event.",
                        "format": "date"
                    },
                    "end": {
                        "type": "string",
                        "description": "The date of publication of the last issue in this event.",
                        "format": "date"
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/Image"
                    },
                    "comics": {
                        "$ref": "#/components/schemas/ComicList"
                    },
                    "stories": {
                        "$ref": "#/components/schemas/StoryList"
                    },
                    "series": {
                        "$ref": "#/components/schemas/SeriesList"
                    },
                    "characters": {
                        "$ref": "#/components/schemas/CharacterList"
                    },
                    "creators": {
                        "$ref": "#/components/schemas/CreatorList"
                    },
                    "next": {
                        "$ref": "#/components/schemas/EventSummary"
                    },
                    "previous": {
                        "$ref": "#/components/schemas/EventSummary"
                    }
                }
            },
            "ComicDataContainer": {
                "type": "object",
                "properties": {
                    "offset": {
                        "type": "integer",
                        "description": "The requested offset (number of skipped results) of the call.",
                        "format": "int32"
                    },
                    "limit": {
                        "type": "integer",
                        "description": "The requested result limit.",
                        "format": "int32"
                    },
                    "total": {
                        "type": "integer",
                        "description": "The total number of resources available given the current filter set.",
                        "format": "int32"
                    },
                    "count": {
                        "type": "integer",
                        "description": "The total number of results returned by this call.",
                        "format": "int32"
                    },
                    "results": {
                        "type": "array",
                        "description": "The list of comics returned by the call",
                        "items": {
                            "$ref": "#/components/schemas/Comic"
                        }
                    }
                }
            },
            "TextObject": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "The canonical type of the text object (e.g. solicit text, preview text, etc.)."
                    },
                    "language": {
                        "type": "string",
                        "description": "The IETF language tag denoting the language the text object is written in."
                    },
                    "text": {
                        "type": "string",
                        "description": "The text."
                    }
                }
            },
            "CreatorDataWrapper": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "The HTTP status code of the returned result.",
                        "format": "int32"
                    },
                    "status": {
                        "type": "string",
                        "description": "A string description of the call status."
                    },
                    "copyright": {
                        "type": "string",
                        "description": "The copyright notice for the returned result."
                    },
                    "attributionText": {
                        "type": "string",
                        "description": "The attribution notice for this result.  Please display either this notice or the contents of the attributionHTML field on all screens which contain data from the Marvel Comics API."
                    },
                    "attributionHTML": {
                        "type": "string",
                        "description": "An HTML representation of the attribution notice for this result.  Please display either this notice or the contents of the attributionText field on all screens which contain data from the Marvel Comics API."
                    },
                    "data": {
                        "$ref": "#/components/schemas/CreatorDataContainer"
                    },
                    "etag": {
                        "type": "string",
                        "description": "A digest value of the content returned by the call."
                    }
                }
            },
            "StoryDataWrapper": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "The HTTP status code of the returned result.",
                        "format": "int32"
                    },
                    "status": {
                        "type": "string",
                        "description": "A string description of the call status."
                    },
                    "copyright": {
                        "type": "string",
                        "description": "The copyright notice for the returned result."
                    },
                    "attributionText": {
                        "type": "string",
                        "description": "The attribution notice for this result.  Please display either this notice or the contents of the attributionHTML field on all screens which contain data from the Marvel Comics API."
                    },
                    "attributionHTML": {
                        "type": "string",
                        "description": "An HTML representation of the attribution notice for this result.  Please display either this notice or the contents of the attributionText field on all screens which contain data from the Marvel Comics API."
                    },
                    "data": {
                        "$ref": "#/components/schemas/StoryDataContainer"
                    },
                    "etag": {
                        "type": "string",
                        "description": "A digest value of the content returned by the call."
                    }
                }
            },
            "Character": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The unique ID of the character resource.",
                        "format": "int32"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the character."
                    },
                    "description": {
                        "type": "string",
                        "description": "A short bio or description of the character."
                    },
                    "modified": {
                        "type": "string",
                        "description": "The date the resource was most recently modified.",
                        "format": "date"
                    },
                    "resourceURI": {
                        "type": "string",
                        "description": "The canonical URL identifier for this resource."
                    },
                    "urls": {
                        "type": "array",
                        "description": "A set of public web site URLs for the resource.",
                        "items": {
                            "$ref": "#/components/schemas/Url"
                        }
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/Image"
                    },
                    "comics": {
                        "$ref": "#/components/schemas/ComicList"
                    },
                    "stories": {
                        "$ref": "#/components/schemas/StoryList"
                    },
                    "events": {
                        "$ref": "#/components/schemas/EventList"
                    },
                    "series": {
                        "$ref": "#/components/schemas/SeriesList"
                    }
                }
            },
            "CharacterDataWrapper": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "The HTTP status code of the returned result.",
                        "format": "int32"
                    },
                    "status": {
                        "type": "string",
                        "description": "A string description of the call status."
                    },
                    "copyright": {
                        "type": "string",
                        "description": "The copyright notice for the returned result."
                    },
                    "attributionText": {
                        "type": "string",
                        "description": "The attribution notice for this result.  Please display either this notice or the contents of the attributionHTML field on all screens which contain data from the Marvel Comics API."
                    },
                    "attributionHTML": {
                        "type": "string",
                        "description": "An HTML representation of the attribution notice for this result.  Please display either this notice or the contents of the attributionText field on all screens which contain data from the Marvel Comics API."
                    },
                    "data": {
                        "$ref": "#/components/schemas/CharacterDataContainer"
                    },
                    "etag": {
                        "type": "string",
                        "description": "A digest value of the content returned by the call."
                    }
                }
            },
            "ComicDataWrapper": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "The HTTP status code of the returned result.",
                        "format": "int32"
                    },
                    "status": {
                        "type": "string",
                        "description": "A string description of the call status."
                    },
                    "copyright": {
                        "type": "string",
                        "description": "The copyright notice for the returned result."
                    },
                    "attributionText": {
                        "type": "string",
                        "description": "The attribution notice for this result.  Please display either this notice or the contents of the attributionHTML field on all screens which contain data from the Marvel Comics API."
                    },
                    "attributionHTML": {
                        "type": "string",
                        "description": "An HTML representation of the attribution notice for this result.  Please display either this notice or the contents of the attributionText field on all screens which contain data from the Marvel Comics API."
                    },
                    "data": {
                        "$ref": "#/components/schemas/ComicDataContainer"
                    },
                    "etag": {
                        "type": "string",
                        "description": "A digest value of the content returned by the call."
                    }
                }
            },
            "Series": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The unique ID of the series resource.",
                        "format": "int32"
                    },
                    "title": {
                        "type": "string",
                        "description": "The canonical title of the series."
                    },
                    "description": {
                        "type": "string",
                        "description": "A description of the series."
                    },
                    "resourceURI": {
                        "type": "string",
                        "description": "The canonical URL identifier for this resource."
                    },
                    "urls": {
                        "type": "array",
                        "description": "A set of public web site URLs for the resource.",
                        "items": {
                            "$ref": "#/components/schemas/Url"
                        }
                    },
                    "startYear": {
                        "type": "integer",
                        "description": "The first year of publication for the series.",
                        "format": "int32"
                    },
                    "endYear": {
                        "type": "integer",
                        "description": "The last year of publication for the series (conventionally, 2099 for ongoing series) .",
                        "format": "int32"
                    },
                    "rating": {
                        "type": "string",
                        "description": "The age-appropriateness rating for the series."
                    },
                    "modified": {
                        "type": "string",
                        "description": "The date the resource was most recently modified.",
                        "format": "date"
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/Image"
                    },
                    "comics": {
                        "$ref": "#/components/schemas/ComicList"
                    },
                    "stories": {
                        "$ref": "#/components/schemas/StoryList"
                    },
                    "events": {
                        "$ref": "#/components/schemas/EventList"
                    },
                    "characters": {
                        "$ref": "#/components/schemas/CharacterList"
                    },
                    "creators": {
                        "$ref": "#/components/schemas/CreatorList"
                    },
                    "next": {
                        "$ref": "#/components/schemas/SeriesSummary"
                    },
                    "previous": {
                        "$ref": "#/components/schemas/SeriesSummary"
                    }
                }
            },
            "SeriesDataWrapper": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "The HTTP status code of the returned result.",
                        "format": "int32"
                    },
                    "status": {
                        "type": "string",
                        "description": "A string description of the call status."
                    },
                    "copyright": {
                        "type": "string",
                        "description": "The copyright notice for the returned result."
                    },
                    "attributionText": {
                        "type": "string",
                        "description": "The attribution notice for this result.  Please display either this notice or the contents of the attributionHTML field on all screens which contain data from the Marvel Comics API."
                    },
                    "attributionHTML": {
                        "type": "string",
                        "description": "An HTML representation of the attribution notice for this result.  Please display either this notice or the contents of the attributionText field on all screens which contain data from the Marvel Comics API."
                    },
                    "data": {
                        "$ref": "#/components/schemas/SeriesDataContainer"
                    },
                    "etag": {
                        "type": "string",
                        "description": "A digest value of the content returned by the call."
                    }
                }
            },
            "SeriesDataContainer": {
                "type": "object",
                "properties": {
                    "offset": {
                        "type": "integer",
                        "description": "The requested offset (number of skipped results) of the call.",
                        "format": "int32"
                    },
                    "limit": {
                        "type": "integer",
                        "description": "The requested result limit.",
                        "format": "int32"
                    },
                    "total": {
                        "type": "integer",
                        "description": "The total number of resources available given the current filter set.",
                        "format": "int32"
                    },
                    "count": {
                        "type": "integer",
                        "description": "The total number of results returned by this call.",
                        "format": "int32"
                    },
                    "results": {
                        "type": "array",
                        "description": "The list of series returned by the call",
                        "items": {
                            "$ref": "#/components/schemas/Series"
                        }
                    }
                }
            },
            "StoryDataContainer": {
                "type": "object",
                "properties": {
                    "offset": {
                        "type": "integer",
                        "description": "The requested offset (number of skipped results) of the call.",
                        "format": "int32"
                    },
                    "limit": {
                        "type": "integer",
                        "description": "The requested result limit.",
                        "format": "int32"
                    },
                    "total": {
                        "type": "integer",
                        "description": "The total number of resources available given the current filter set.",
                        "format": "int32"
                    },
                    "count": {
                        "type": "integer",
                        "description": "The total number of results returned by this call.",
                        "format": "int32"
                    },
                    "results": {
                        "type": "array",
                        "description": "The list of stories returned by the call",
                        "items": {
                            "$ref": "#/components/schemas/Story"
                        }
                    }
                }
            },
            "Comic": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The unique ID of the comic resource.",
                        "format": "int32"
                    },
                    "digitalId": {
                        "type": "integer",
                        "description": "The ID of the digital comic representation of this comic. Will be 0 if the comic is not available digitally.",
                        "format": "int32"
                    },
                    "title": {
                        "type": "string",
                        "description": "The canonical title of the comic."
                    },
                    "issueNumber": {
                        "type": "number",
                        "description": "The number of the issue in the series (will generally be 0 for collection formats).",
                        "format": "double"
                    },
                    "variantDescription": {
                        "type": "string",
                        "description": "If the issue is a variant (e.g. an alternate cover, second printing, or director’s cut), a text description of the variant."
                    },
                    "description": {
                        "type": "string",
                        "description": "The preferred description of the comic.",
                        "nullable": true
                    },
                    "modified": {
                        "type": "string",
                        "description": "The date the resource was most recently modified."
                    },
                    "isbn": {
                        "type": "string",
                        "description": "The ISBN for the comic (generally only populated for collection formats)."
                    },
                    "upc": {
                        "type": "string",
                        "description": "The UPC barcode number for the comic (generally only populated for periodical formats)."
                    },
                    "diamondCode": {
                        "type": "string",
                        "description": "The Diamond code for the comic."
                    },
                    "ean": {
                        "type": "string",
                        "description": "The EAN barcode for the comic."
                    },
                    "issn": {
                        "type": "string",
                        "description": "The ISSN barcode for the comic."
                    },
                    "format": {
                        "type": "string",
                        "description": "The publication format of the comic e.g. comic, hardcover, trade paperback."
                    },
                    "pageCount": {
                        "type": "integer",
                        "description": "The number of story pages in the comic.",
                        "format": "int32"
                    },
                    "textObjects": {
                        "type": "array",
                        "description": "A set of descriptive text blurbs for the comic.",
                        "items": {
                            "$ref": "#/components/schemas/TextObject"
                        }
                    },
                    "resourceURI": {
                        "type": "string",
                        "description": "The canonical URL identifier for this resource."
                    },
                    "urls": {
                        "type": "array",
                        "description": "A set of public web site URLs for the resource.",
                        "items": {
                            "$ref": "#/components/schemas/Url"
                        }
                    },
                    "series": {
                        "$ref": "#/components/schemas/SeriesSummary"
                    },
                    "variants": {
                        "type": "array",
                        "description": "A list of variant issues for this comic (includes the \"original\" issue if the current issue is a variant).",
                        "items": {
                            "$ref": "#/components/schemas/ComicSummary"
                        }
                    },
                    "collections": {
                        "type": "array",
                        "description": "A list of collections which include this comic (will generally be empty if the comic's format is a collection).",
                        "items": {
                            "$ref": "#/components/schemas/ComicSummary"
                        }
                    },
                    "collectedIssues": {
                        "type": "array",
                        "description": "A list of issues collected in this comic (will generally be empty for periodical formats such as \"comic\" or \"magazine\").",
                        "items": {
                            "$ref": "#/components/schemas/ComicSummary"
                        }
                    },
                    "dates": {
                        "type": "array",
                        "description": "A list of key dates for this comic.",
                        "items": {
                            "$ref": "#/components/schemas/ComicDate"
                        }
                    },
                    "prices": {
                        "type": "array",
                        "description": "A list of prices for this comic.",
                        "items": {
                            "$ref": "#/components/schemas/ComicPrice"
                        }
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/Image"
                    },
                    "images": {
                        "type": "array",
                        "description": "A list of promotional images associated with this comic.",
                        "items": {
                            "$ref": "#/components/schemas/Image"
                        }
                    },
                    "creators": {
                        "$ref": "#/components/schemas/CreatorList"
                    },
                    "characters": {
                        "$ref": "#/components/schemas/CharacterList"
                    },
                    "stories": {
                        "$ref": "#/components/schemas/StoryList"
                    },
                    "events": {
                        "$ref": "#/components/schemas/EventList"
                    }
                }
            },
            "CreatorDataContainer": {
                "type": "object",
                "properties": {
                    "offset": {
                        "type": "integer",
                        "description": "The requested offset (number of skipped results) of the call.",
                        "format": "int32"
                    },
                    "limit": {
                        "type": "integer",
                        "description": "The requested result limit.",
                        "format": "int32"
                    },
                    "total": {
                        "type": "integer",
                        "description": "The total number of resources available given the current filter set.",
                        "format": "int32"
                    },
                    "count": {
                        "type": "integer",
                        "description": "The total number of results returned by this call.",
                        "format": "int32"
                    },
                    "results": {
                        "type": "array",
                        "description": "The list of creators returned by the call.",
                        "items": {
                            "$ref": "#/components/schemas/Creator"
                        }
                    }
                }
            },
            "Story": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "The unique ID of the story resource.",
                        "format": "int32"
                    },
                    "title": {
                        "type": "string",
                        "description": "The story title."
                    },
                    "description": {
                        "type": "string",
                        "description": "A short description of the story."
                    },
                    "resourceURI": {
                        "type": "string",
                        "description": "The canonical URL identifier for this resource. "
                    },
                    "type": {
                        "type": "string",
                        "description": "The story type e.g. interior story, cover, text story."
                    },
                    "modified": {
                        "type": "string",
                        "description": "The date the resource was most recently modified.",
                        "format": "date"
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/Image"
                    },
                    "comics": {
                        "$ref": "#/components/schemas/ComicList"
                    },
                    "series": {
                        "$ref": "#/components/schemas/SeriesList"
                    },
                    "events": {
                        "$ref": "#/components/schemas/EventList"
                    },
                    "characters": {
                        "$ref": "#/components/schemas/CharacterList"
                    },
                    "creators": {
                        "$ref": "#/components/schemas/CreatorList"
                    },
                    "originalissue": {
                        "$ref": "#/components/schemas/ComicSummary"
                    }
                }
            }
        }
    },
    "x-original-swagger-version": "2.0"
}